body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: #fff;
}
.app-wrapper {
    width: 90%;
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

header {
    text-align: center;
}